*{
    box-sizing: border-box;
  }
  .row{
    border: solid 1px red;
    height: 150px;
    font-size: 0px;
   
  
  }
  .col{
    border: solid 2px black;
    display : inline-block;
    height: 100%;
    width: 33.33%;
  }
  .col2{
    border: solid 2px black;
    display : inline-block ;
    height: 100%;
    width: 50%;
  }
  .row2{
    border: solid 2px blue;
    height: 50%;
  }
  .col3{
    border: solid 2px yellow;
    display: inline-block;
    height: 100;
    width: 33.33%
  }
  .row3{
    border: solid 2px yellow;
    height: 8.9rem;
  }
  .col4 ,.col5{
    border: solid 2px yellow;
   margin: -4.8rem 27.8rem;
    height: 9.2rem;
    width: 8.9rem;
    
    
  }
  .col5{
    border: 1px solid black;
    margin: -9.2rem 36.3rem;
  }
  .row4{
    border: solid 2px yellow;
    height: 4.6rem;
    
  }