<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    
   <div id="form">
    <p>Enter Your UserName:<input type="text" placeholder="Enter Your Name"></p>
    <p>Enter Your gmail: <input type="email" placeholder="Enter Your Gm@il"></p>
    <p>Enter Your password: <input type="password" placeholder="Enter the password"></p>
    <p>Enter Your AGE: <input type="number" placeholder="AGE" max="120" min="4"></p>
    <button>Create</button>
    
   </div>
   
</body>
</html>