<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    
   <div id="form">
    <p>Enter Your Name:<input type="text" placeholder="Enter Your Name"></p>
    <p>Create a UserName:<input type="text" placeholder="Create a unique username...;]"></p>
    <p>Enter Your Number: <input type="number" placeholder="Provdie Your number"></p>
    <p>Enter Your Gmail:<input type="text" placeholder="Enter Your gm@il"></p>
    <p>Enter Your AGE: <input type="number" placeholder="AGE" max="120" min="4"></p>
    <p>Create a password: <input type="password" placeholder="Create a strong one"></p>
    <button>Create</button>
    <div class="q">____________</div>
   </div>
   
</body>
</html>